*{
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('https://img.freepik.com/free-photo/top-view-desk-concept-with-coffee_23-2148604923.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background: whitesmoke;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  backdrop-filter: blur(10px);
}

.registerForm:hover {
  transform: scale(1.02);
}

.registerForm label {
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

.registerForm input {
  padding: 12px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.3s;
}

.registerForm input:focus {
  border-color: black;
  outline: none;
  box-shadow: 0 0 8px rgba(30, 27, 28, 0.5);
}

.registerForm input[type="submit"] {
  background: linear-gradient(135deg, #413a3b, #41373b);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 12px;
  transition: all 0.3s ease;
  border-radius: 6px;
}

.registerForm input[type="submit"]:hover {
  background: linear-gradient(135deg, #453e3e, #2e292a);
  transform: scale(1.05);
}
.signInBtn {
  background-color: #242627; /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Padding for the button */
  cursor: pointer; /* Cursor pointer on hover */
  font-size: 14px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  margin-top: 20px; /* Space from other elements */
}

.signInBtn:hover {
  background-color: #242627; /* Darker shade on hover */
}

.signInBtn:focus {
  outline: none; /* Remove focus outline */
}

.signInBtn:active {
  background-color: #191a1a; /* Even darker shade on button click */
}
